<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <!-- css -->
    <link href="/css/main_css.css" rel="stylesheet" type="text/css">
    <!-- library -->
    <script src="/lib/jquery.min.js"></script>

    <!-- custom module -->

    <title>MANDOO DAY</title>
  </head>


  <body id="center">
    <div>
      <div id="title" class="font_bmd fs25">MANDOO TEST</div>
      <div id="nav" class="font_bmd">
        <ul>
          <li><a class="active" href="/home">Home</a></li>
          <li><a href="/reservation">Reservation</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/about">AboutUs</a></li>
        </ul>
      </div>
    </div>


  </body>
  <script type="text/javascript">

  </script>
</html>
